# ![polars](media/polars_github_logo_rect_dark_name.svg)

## **Background**

- #### DataFrame library
- #### Written in Rust
- #### No external dependencies required
- #### Apache Arrow data format
    - https://editor.analyticsvidhya.com/uploads/57471columnar.jpg

## **Use Cases**

- #### Data Cleaning, Transformation and Preparation
- #### Data Analysis
- #### Data Visualization
- #### Time Series Analysis
- #### Machine Learning
- #### Data Import and Export

## **Concepts**

In [102]:
import polars as pl
import numpy as np

### Data Types

#### - Numeric
    - Signed, unsigned integers (8,16,32,64)
    - Float (32,64)
#### - Nested
    - Struct
    - List
#### - Temporal
    - Date
    - DateTime
    - Duration
    - Time
#### - Other
    - Boolean
    - String
    - Binary
    - Object
    - Categorical
    - Enum

### Data structures

#### *Series*

In [103]:
s = pl.Series("a", [1, 2, 3, 4, 5])
s

shape: (5,)
Series: 'a' [i64]
[
	1
	2
	3
	4
	5
]

In [104]:
s.mean()

3.0

#### *Data Frame*

In [105]:
df = pl.DataFrame(
    {
        "nrs": [1, 2, 3, None, 5],
        "names": ["foo", "ham", "spam", "egg", None],
        "random": np.random.rand(5),
        "groups": ["A", "A", "B", "C", "B"],
    }
)
df

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.597686 ┆ A      │
│ 2    ┆ ham   ┆ 0.070548 ┆ A      │
│ 3    ┆ spam  ┆ 0.308382 ┆ B      │
│ null ┆ egg   ┆ 0.857725 ┆ C      │
│ 5    ┆ null  ┆ 0.467545 ┆ B      │
└──────┴───────┴──────────┴────────┘

In [106]:
df.head(2)

shape: (2, 4)
┌─────┬───────┬──────────┬────────┐
│ nrs ┆ names ┆ random   ┆ groups │
│ --- ┆ ---   ┆ ---      ┆ ---    │
│ i64 ┆ str   ┆ f64      ┆ str    │
╞═════╪═══════╪══════════╪════════╡
│ 1   ┆ foo   ┆ 0.597686 ┆ A      │
│ 2   ┆ ham   ┆ 0.070548 ┆ A      │
└─────┴───────┴──────────┴────────┘

In [107]:
df.tail(2)

shape: (2, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ null ┆ egg   ┆ 0.857725 ┆ C      │
│ 5    ┆ null  ┆ 0.467545 ┆ B      │
└──────┴───────┴──────────┴────────┘

In [108]:
df.describe()

shape: (9, 5)
┌────────────┬──────────┬───────┬──────────┬────────┐
│ describe   ┆ nrs      ┆ names ┆ random   ┆ groups │
│ ---        ┆ ---      ┆ ---   ┆ ---      ┆ ---    │
│ str        ┆ f64      ┆ str   ┆ f64      ┆ str    │
╞════════════╪══════════╪═══════╪══════════╪════════╡
│ count      ┆ 4.0      ┆ 4     ┆ 5.0      ┆ 5      │
│ null_count ┆ 1.0      ┆ 1     ┆ 0.0      ┆ 0      │
│ mean       ┆ 2.75     ┆ null  ┆ 0.460377 ┆ null   │
│ std        ┆ 1.707825 ┆ null  ┆ 0.296589 ┆ null   │
│ min        ┆ 1.0      ┆ egg   ┆ 0.070548 ┆ A      │
│ 25%        ┆ 2.0      ┆ null  ┆ 0.308382 ┆ null   │
│ 50%        ┆ 3.0      ┆ null  ┆ 0.467545 ┆ null   │
│ 75%        ┆ 3.0      ┆ null  ┆ 0.597686 ┆ null   │
│ max        ┆ 5.0      ┆ spam  ┆ 0.857725 ┆ C      │
└────────────┴──────────┴───────┴──────────┴────────┘

### Contexts

#### Selection

In [109]:
df

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.597686 ┆ A      │
│ 2    ┆ ham   ┆ 0.070548 ┆ A      │
│ 3    ┆ spam  ┆ 0.308382 ┆ B      │
│ null ┆ egg   ┆ 0.857725 ┆ C      │
│ 5    ┆ null  ┆ 0.467545 ┆ B      │
└──────┴───────┴──────────┴────────┘

In [110]:
q1 = df.select(
    pl.sum("nrs")
)
q1

shape: (1, 1)
┌─────┐
│ nrs │
│ --- │
│ i64 │
╞═════╡
│ 11  │
└─────┘

In [111]:
q2 = df.select(
    pl.sum("nrs"),
    pl.count("groups"),
)
q2

shape: (1, 2)
┌─────┬────────┐
│ nrs ┆ groups │
│ --- ┆ ---    │
│ i64 ┆ u32    │
╞═════╪════════╡
│ 11  ┆ 5      │
└─────┴────────┘

In [113]:
q4 = df.select(
    pl.col("random") * 3.14,
    pl.count("groups"),
)
q4

shape: (5, 2)
┌──────────┬────────┐
│ random   ┆ groups │
│ ---      ┆ ---    │
│ f64      ┆ u32    │
╞══════════╪════════╡
│ 1.876734 ┆ 5      │
│ 0.22152  ┆ 5      │
│ 0.968319 ┆ 5      │
│ 2.693255 ┆ 5      │
│ 1.468092 ┆ 5      │
└──────────┴────────┘

In [114]:
q5 = df.with_columns(
    pl.col("random").max().alias("max"),
)
q5

shape: (5, 5)
┌──────┬───────┬──────────┬────────┬──────────┐
│ nrs  ┆ names ┆ random   ┆ groups ┆ max      │
│ ---  ┆ ---   ┆ ---      ┆ ---    ┆ ---      │
│ i64  ┆ str   ┆ f64      ┆ str    ┆ f64      │
╞══════╪═══════╪══════════╪════════╪══════════╡
│ 1    ┆ foo   ┆ 0.597686 ┆ A      ┆ 0.857725 │
│ 2    ┆ ham   ┆ 0.070548 ┆ A      ┆ 0.857725 │
│ 3    ┆ spam  ┆ 0.308382 ┆ B      ┆ 0.857725 │
│ null ┆ egg   ┆ 0.857725 ┆ C      ┆ 0.857725 │
│ 5    ┆ null  ┆ 0.467545 ┆ B      ┆ 0.857725 │
└──────┴───────┴──────────┴────────┴──────────┘

#### Filtering

In [115]:
df

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.597686 ┆ A      │
│ 2    ┆ ham   ┆ 0.070548 ┆ A      │
│ 3    ┆ spam  ┆ 0.308382 ┆ B      │
│ null ┆ egg   ┆ 0.857725 ┆ C      │
│ 5    ┆ null  ┆ 0.467545 ┆ B      │
└──────┴───────┴──────────┴────────┘

In [116]:
f1 = df.filter(
    pl.col("names") == "foo"
)
f1

shape: (1, 4)
┌─────┬───────┬──────────┬────────┐
│ nrs ┆ names ┆ random   ┆ groups │
│ --- ┆ ---   ┆ ---      ┆ ---    │
│ i64 ┆ str   ┆ f64      ┆ str    │
╞═════╪═══════╪══════════╪════════╡
│ 1   ┆ foo   ┆ 0.597686 ┆ A      │
└─────┴───────┴──────────┴────────┘

In [117]:
f1 = df.filter(
    pl.col("random") > 0.5
)
f1

shape: (2, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.597686 ┆ A      │
│ null ┆ egg   ┆ 0.857725 ┆ C      │
└──────┴───────┴──────────┴────────┘

#### Group by / aggregation

In [118]:
df

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.597686 ┆ A      │
│ 2    ┆ ham   ┆ 0.070548 ┆ A      │
│ 3    ┆ spam  ┆ 0.308382 ┆ B      │
│ null ┆ egg   ┆ 0.857725 ┆ C      │
│ 5    ┆ null  ┆ 0.467545 ┆ B      │
└──────┴───────┴──────────┴────────┘

In [119]:
g1 = df.group_by("groups").agg(
    pl.sum("nrs").alias("sum nrs"),
    pl.col("random").count().alias("count random"),
)
g1

shape: (3, 3)
┌────────┬─────────┬──────────────┐
│ groups ┆ sum nrs ┆ count random │
│ ---    ┆ ---     ┆ ---          │
│ str    ┆ i64     ┆ u32          │
╞════════╪═════════╪══════════════╡
│ A      ┆ 3       ┆ 2            │
│ B      ┆ 8       ┆ 2            │
│ C      ┆ 0       ┆ 1            │
└────────┴─────────┴──────────────┘

### Expressions

In [ ]:
df

#### Operators

In [120]:
df_num = df.select(
    (pl.col("nrs") + 5).alias("nrs + 5"),
    (pl.col("nrs") * pl.col("random")).alias("nrs * random"),
)
df_num

shape: (5, 2)
┌─────────┬──────────────┐
│ nrs + 5 ┆ nrs * random │
│ ---     ┆ ---          │
│ i64     ┆ f64          │
╞═════════╪══════════════╡
│ 6       ┆ 0.597686     │
│ 7       ┆ 0.141096     │
│ 8       ┆ 0.925145     │
│ null    ┆ null         │
│ 10      ┆ 2.337726     │
└─────────┴──────────────┘

In [121]:
df_log = df.select(
    (pl.col("nrs") > 1).alias("nrs > 1"),
    (pl.col("nrs") == 1).alias("nrs == 1"),
    ((pl.col("random") <= 0.5) & (pl.col("nrs") > 1)).alias("and_expr"),
    ((pl.col("random") <= 0.5) | (pl.col("nrs") > 1)).alias("or_expr"), 
)
df_log

shape: (5, 4)
┌─────────┬──────────┬──────────┬─────────┐
│ nrs > 1 ┆ nrs == 1 ┆ and_expr ┆ or_expr │
│ ---     ┆ ---      ┆ ---      ┆ ---     │
│ bool    ┆ bool     ┆ bool     ┆ bool    │
╞═════════╪══════════╪══════════╪═════════╡
│ false   ┆ true     ┆ false    ┆ false   │
│ true    ┆ false    ┆ true     ┆ true    │
│ true    ┆ false    ┆ true     ┆ true    │
│ null    ┆ null     ┆ false    ┆ null    │
│ true    ┆ false    ┆ true     ┆ true    │
└─────────┴──────────┴──────────┴─────────┘

#### Column selection

In [122]:
col_sel1 = df.select(pl.col("*"))
col_sel1

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.597686 ┆ A      │
│ 2    ┆ ham   ┆ 0.070548 ┆ A      │
│ 3    ┆ spam  ┆ 0.308382 ┆ B      │
│ null ┆ egg   ┆ 0.857725 ┆ C      │
│ 5    ┆ null  ┆ 0.467545 ┆ B      │
└──────┴───────┴──────────┴────────┘

In [123]:
col_sel2 = df.select(pl.col("^random|names$"))
col_sel2

shape: (5, 2)
┌───────┬──────────┐
│ names ┆ random   │
│ ---   ┆ ---      │
│ str   ┆ f64      │
╞═══════╪══════════╡
│ foo   ┆ 0.597686 │
│ ham   ┆ 0.070548 │
│ spam  ┆ 0.308382 │
│ egg   ┆ 0.857725 │
│ null  ┆ 0.467545 │
└───────┴──────────┘

In [124]:
col_sel3 = df.select(pl.col(pl.Utf8))
col_sel3

shape: (5, 2)
┌───────┬────────┐
│ names ┆ groups │
│ ---   ┆ ---    │
│ str   ┆ str    │
╞═══════╪════════╡
│ foo   ┆ A      │
│ ham   ┆ A      │
│ spam  ┆ B      │
│ egg   ┆ C      │
│ null  ┆ B      │
└───────┴────────┘

#### String manipulation

In [125]:
string_df = pl.DataFrame(
    {
        "text": ["ptyhon", "polars is a dataframe library", "pandas"]
    }
)

In [126]:
s1 = string_df.select(
    pl.col("text"),
    pl.col("text").str.contains("python|polars").alias("contains"),
)
s1

shape: (3, 2)
┌───────────────────────────────┬──────────┐
│ text                          ┆ contains │
│ ---                           ┆ ---      │
│ str                           ┆ bool     │
╞═══════════════════════════════╪══════════╡
│ ptyhon                        ┆ false    │
│ polars is a dataframe library ┆ true     │
│ pandas                        ┆ false    │
└───────────────────────────────┴──────────┘

In [127]:
s2 = string_df.select(
    pl.col("text"),
    pl.col("text").str.extract("(pandas)").alias("extract"),
)
s2

shape: (3, 2)
┌───────────────────────────────┬─────────┐
│ text                          ┆ extract │
│ ---                           ┆ ---     │
│ str                           ┆ str     │
╞═══════════════════════════════╪═════════╡
│ ptyhon                        ┆ null    │
│ polars is a dataframe library ┆ null    │
│ pandas                        ┆ pandas  │
└───────────────────────────────┴─────────┘

In [128]:
s3 = string_df.select(
    pl.col("text"),
    pl.col("text").str.replace("ptyhon", "python").alias("replace"),
)
s3

shape: (3, 2)
┌───────────────────────────────┬───────────────────────────────┐
│ text                          ┆ replace                       │
│ ---                           ┆ ---                           │
│ str                           ┆ str                           │
╞═══════════════════════════════╪═══════════════════════════════╡
│ ptyhon                        ┆ python                        │
│ polars is a dataframe library ┆ polars is a dataframe library │
│ pandas                        ┆ pandas                        │
└───────────────────────────────┴───────────────────────────────┘

#### Missing Data

In [129]:
df

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.597686 ┆ A      │
│ 2    ┆ ham   ┆ 0.070548 ┆ A      │
│ 3    ┆ spam  ┆ 0.308382 ┆ B      │
│ null ┆ egg   ┆ 0.857725 ┆ C      │
│ 5    ┆ null  ┆ 0.467545 ┆ B      │
└──────┴───────┴──────────┴────────┘

In [130]:
df_null = df.null_count()
df_null

shape: (1, 4)
┌─────┬───────┬────────┬────────┐
│ nrs ┆ names ┆ random ┆ groups │
│ --- ┆ ---   ┆ ---    ┆ ---    │
│ u32 ┆ u32   ┆ u32    ┆ u32    │
╞═════╪═══════╪════════╪════════╡
│ 1   ┆ 1     ┆ 0      ┆ 0      │
└─────┴───────┴────────┴────────┘

In [131]:
df_fill_lit = df.with_columns(
    pl.col("nrs").fill_null(pl.lit(12)),
)
df_fill_lit

shape: (5, 4)
┌─────┬───────┬──────────┬────────┐
│ nrs ┆ names ┆ random   ┆ groups │
│ --- ┆ ---   ┆ ---      ┆ ---    │
│ i64 ┆ str   ┆ f64      ┆ str    │
╞═════╪═══════╪══════════╪════════╡
│ 1   ┆ foo   ┆ 0.597686 ┆ A      │
│ 2   ┆ ham   ┆ 0.070548 ┆ A      │
│ 3   ┆ spam  ┆ 0.308382 ┆ B      │
│ 12  ┆ egg   ┆ 0.857725 ┆ C      │
│ 5   ┆ null  ┆ 0.467545 ┆ B      │
└─────┴───────┴──────────┴────────┘

In [132]:
df_fill_strat = df.with_columns(
    pl.col("names").fill_null(strategy="forward"),
)
df_fill_strat

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.597686 ┆ A      │
│ 2    ┆ ham   ┆ 0.070548 ┆ A      │
│ 3    ┆ spam  ┆ 0.308382 ┆ B      │
│ null ┆ egg   ┆ 0.857725 ┆ C      │
│ 5    ┆ egg   ┆ 0.467545 ┆ B      │
└──────┴───────┴──────────┴────────┘

In [133]:
df_interpol = df.with_columns(
    pl.col("nrs").interpolate(),
)
df_interpol

shape: (5, 4)
┌─────┬───────┬──────────┬────────┐
│ nrs ┆ names ┆ random   ┆ groups │
│ --- ┆ ---   ┆ ---      ┆ ---    │
│ f64 ┆ str   ┆ f64      ┆ str    │
╞═════╪═══════╪══════════╪════════╡
│ 1.0 ┆ foo   ┆ 0.597686 ┆ A      │
│ 2.0 ┆ ham   ┆ 0.070548 ┆ A      │
│ 3.0 ┆ spam  ┆ 0.308382 ┆ B      │
│ 4.0 ┆ egg   ┆ 0.857725 ┆ C      │
│ 5.0 ┆ null  ┆ 0.467545 ┆ B      │
└─────┴───────┴──────────┴────────┘

#### List

In [134]:
data = {
    'sensor': ["Sensor 1", "Sensor 2", "Sensor 3"],
    'temperature': [[21, 22, 999], [-1, None], [23, 23, 24, 22, 21]]
}

df_list = pl.DataFrame(data)
df_list

shape: (3, 2)
┌──────────┬────────────────┐
│ sensor   ┆ temperature    │
│ ---      ┆ ---            │
│ str      ┆ list[i64]      │
╞══════════╪════════════════╡
│ Sensor 1 ┆ [21, 22, 999]  │
│ Sensor 2 ┆ [-1, null]     │
│ Sensor 3 ┆ [23, 23, … 21] │
└──────────┴────────────────┘

In [135]:
l1 = df_list.select(
    pl.col("sensor"),
    pl.col("temperature").list.len().alias("observations")
)
l1

shape: (3, 2)
┌──────────┬──────────────┐
│ sensor   ┆ observations │
│ ---      ┆ ---          │
│ str      ┆ u32          │
╞══════════╪══════════════╡
│ Sensor 1 ┆ 3            │
│ Sensor 2 ┆ 2            │
│ Sensor 3 ┆ 5            │
└──────────┴──────────────┘

In [136]:
l2 = df_list.select(
    pl.col("sensor"),
    pl.col("temperature").list.mean().alias("avg. temp")
)
l2

shape: (3, 2)
┌──────────┬────────────┐
│ sensor   ┆ avg. temp  │
│ ---      ┆ ---        │
│ str      ┆ f64        │
╞══════════╪════════════╡
│ Sensor 1 ┆ 347.333333 │
│ Sensor 2 ┆ -1.0       │
│ Sensor 3 ┆ 22.6       │
└──────────┴────────────┘

In [137]:
l3 = df_list.select(
    pl.col("sensor"),
    pl.col("temperature").list.eval(pl.element().filter(pl.element() < 30)).drop_nulls()
)
l3

shape: (3, 2)
┌──────────┬────────────────┐
│ sensor   ┆ temperature    │
│ ---      ┆ ---            │
│ str      ┆ list[i64]      │
╞══════════╪════════════════╡
│ Sensor 1 ┆ [21, 22]       │
│ Sensor 2 ┆ [-1]           │
│ Sensor 3 ┆ [23, 23, … 21] │
└──────────┴────────────────┘

In [138]:
l4 = l3.select(
    pl.col("sensor"),
    pl.col("temperature").list.mean().alias("avg. temp")
)
l4

shape: (3, 2)
┌──────────┬───────────┐
│ sensor   ┆ avg. temp │
│ ---      ┆ ---       │
│ str      ┆ f64       │
╞══════════╪═══════════╡
│ Sensor 1 ┆ 21.5      │
│ Sensor 2 ┆ -1.0      │
│ Sensor 3 ┆ 22.6      │
└──────────┴───────────┘

### **IO**

#### - CSV, Excel, Json
#### - Parquet files
#### - Databases

## **Example**

In [139]:
df_raw = pl.read_csv("data/netflix.csv")

In [140]:
df_raw.head()

shape: (5, 10)
┌─────────┬─────────┬───────────────────────┬─────────────────┬───┬──────────────┬────────┬──────────┬───────────────────────┐
│ show_id ┆ type    ┆ title                 ┆ director        ┆ … ┆ release_year ┆ rating ┆ duration ┆ listed_in             │
│ ---     ┆ ---     ┆ ---                   ┆ ---             ┆   ┆ ---          ┆ ---    ┆ ---      ┆ ---                   │
│ str     ┆ str     ┆ str                   ┆ str             ┆   ┆ i64          ┆ str    ┆ str      ┆ str                   │
╞═════════╪═════════╪═══════════════════════╪═════════════════╪═══╪══════════════╪════════╪══════════╪═══════════════════════╡
│ s1      ┆ Movie   ┆ Dick Johnson Is Dead  ┆ Kirsten Johnson ┆ … ┆ 2020         ┆ PG-13  ┆ 90 min   ┆ Documentaries         │
│ s3      ┆ TV Show ┆ Ganglands             ┆ Julien Leclercq ┆ … ┆ 2021         ┆ TV-MA  ┆ 1 Season ┆ Crime TV Shows,       │
│         ┆         ┆                       ┆                 ┆   ┆              ┆        ┆          ┆ International TV…     │
│ s6      ┆ TV Show ┆ Midnight Mass         ┆ Mike Flanagan   ┆ … ┆ 2021         ┆ TV-MA  ┆ 1 Season ┆ TV Dramas, TV Horror, │
│         ┆         ┆                       ┆                 ┆   ┆              ┆        ┆          ┆ TV Mysteri…           │
│ s14     ┆ Movie   ┆ Confessions of an     ┆ Bruno Garotti   ┆ … ┆ 2021         ┆ TV-PG  ┆ 91 min   ┆ Children & Family     │
│         ┆         ┆ Invisible Girl        ┆                 ┆   ┆              ┆        ┆          ┆ Movies, Comedi…       │
│ s8      ┆ Movie   ┆ Sankofa               ┆ Haile Gerima    ┆ … ┆ 1993         ┆ TV-MA  ┆ 125 min  ┆ Dramas, Independent   │
│         ┆         ┆                       ┆                 ┆   ┆              ┆        ┆          ┆ Movies, Inte…         │
└─────────┴─────────┴───────────────────────┴─────────────────┴───┴──────────────┴────────┴──────────┴───────────────────────┘

In [141]:
df_raw.tail()

shape: (5, 10)
┌─────────┬─────────┬────────────────────┬───────────┬───┬──────────────┬────────┬───────────┬────────────────────────────┐
│ show_id ┆ type    ┆ title              ┆ director  ┆ … ┆ release_year ┆ rating ┆ duration  ┆ listed_in                  │
│ ---     ┆ ---     ┆ ---                ┆ ---       ┆   ┆ ---          ┆ ---    ┆ ---       ┆ ---                        │
│ str     ┆ str     ┆ str                ┆ str       ┆   ┆ i64          ┆ str    ┆ str       ┆ str                        │
╞═════════╪═════════╪════════════════════╪═══════════╪═══╪══════════════╪════════╪═══════════╪════════════════════════════╡
│ s8797   ┆ TV Show ┆ Yunus Emre         ┆ Not Given ┆ … ┆ 2016         ┆ TV-PG  ┆ 2 Seasons ┆ International TV Shows, TV │
│         ┆         ┆                    ┆           ┆   ┆              ┆        ┆           ┆ Drama…                     │
│ s8798   ┆ TV Show ┆ Zak Storm          ┆ Not Given ┆ … ┆ 2016         ┆ TV-Y7  ┆ 3 Seasons ┆ Kids' TV                   │
│ s8801   ┆ TV Show ┆ Zindagi Gulzar Hai ┆ Not Given ┆ … ┆ 2012         ┆ TV-PG  ┆ 1 Season  ┆ International TV Shows,    │
│         ┆         ┆                    ┆           ┆   ┆              ┆        ┆           ┆ Romantic…                  │
│ s8784   ┆ TV Show ┆ Yoko               ┆ Not Given ┆ … ┆ 2016         ┆ TV-Y   ┆ 1 Season  ┆ Kids' TV                   │
│ s8786   ┆ TV Show ┆ YOM                ┆ Not Given ┆ … ┆ 2016         ┆ TV-Y7  ┆ 1 Season  ┆ Kids' TV                   │
└─────────┴─────────┴────────────────────┴───────────┴───┴──────────────┴────────┴───────────┴────────────────────────────┘

In [142]:
df_raw.describe()

shape: (9, 11)
┌────────────┬─────────┬─────────┬───────────────────────────────┬───┬──────────────┬────────┬──────────┬────────────────────┐
│ describe   ┆ show_id ┆ type    ┆ title                         ┆ … ┆ release_year ┆ rating ┆ duration ┆ listed_in          │
│ ---        ┆ ---     ┆ ---     ┆ ---                           ┆   ┆ ---          ┆ ---    ┆ ---      ┆ ---                │
│ str        ┆ str     ┆ str     ┆ str                           ┆   ┆ f64          ┆ str    ┆ str      ┆ str                │
╞════════════╪═════════╪═════════╪═══════════════════════════════╪═══╪══════════════╪════════╪══════════╪════════════════════╡
│ count      ┆ 8790    ┆ 8790    ┆ 8790                          ┆ … ┆ 8790.0       ┆ 8790   ┆ 8790     ┆ 8790               │
│ null_count ┆ 0       ┆ 0       ┆ 0                             ┆ … ┆ 0.0          ┆ 0      ┆ 0        ┆ 0                  │
│ mean       ┆ null    ┆ null    ┆ null                          ┆ … ┆ 2014.183163  ┆ null   ┆ null     ┆ null               │
│ std        ┆ null    ┆ null    ┆ null                          ┆ … ┆ 8.825466     ┆ null   ┆ null     ┆ null               │
│ min        ┆ s1      ┆ Movie   ┆ #Alive                        ┆ … ┆ 1925.0       ┆ G      ┆ 1 Season ┆ Action & Adventure │
│ 25%        ┆ null    ┆ null    ┆ null                          ┆ … ┆ 2013.0       ┆ null   ┆ null     ┆ null               │
│ 50%        ┆ null    ┆ null    ┆ null                          ┆ … ┆ 2017.0       ┆ null   ┆ null     ┆ null               │
│ 75%        ┆ null    ┆ null    ┆ null                          ┆ … ┆ 2019.0       ┆ null   ┆ null     ┆ null               │
│ max        ┆ s999    ┆ TV Show ┆ 최강전사 미니특공대 : 영웅의  ┆ … ┆ 2021.0       ┆ UR     ┆ 99 min   ┆ Thrillers          │
│            ┆         ┆         ┆ 탄생                          ┆   ┆              ┆        ┆          ┆                    │
└────────────┴─────────┴─────────┴───────────────────────────────┴───┴──────────────┴────────┴──────────┴────────────────────┘

In [143]:
df_raw.glimpse()

Rows: 8790
Columns: 10
$ show_id      <str> 's1', 's3', 's6', 's14', 's8', 's9', 's10', 's939', 's13', 's940'
$ type         <str> 'Movie', 'TV Show', 'TV Show', 'Movie', 'Movie', 'TV Show', 'Movie', 'Movie', 'Movie', 'Movie'
$ title        <str> 'Dick Johnson Is Dead', 'Ganglands', 'Midnight Mass', 'Confessions of an Invisible Girl', 'Sankofa', 'The Great British Baking Show', 'The Starling', 'Motu Patlu in the Game of Zones', 'Je Suis Karl', 'Motu Patlu in Wonderland'
$ director     <str> 'Kirsten Johnson', 'Julien Leclercq', 'Mike Flanagan', 'Bruno Garotti', 'Haile Gerima', 'Andy Devonshire', 'Theodore Melfi', 'Suhas Kadav', 'Christian Schwochow', 'Suhas Kadav'
$ country      <str> 'United States', 'France', 'United States', 'Brazil', 'United States', 'United Kingdom', 'United States', 'India', 'Germany', 'India'
$ date_added   <str> '9/25/2021', '9/24/2021', '9/24/2021', '9/22/2021', '9/24/2021', '9/24/2021', '9/24/2021', '5/1/2021', '9/23/2021', '5/1/2021'
$ release_year <i64> 2020, 2021, 2021, 2021, 1993, 2021, 2021, 2019, 2021, 2013
$ rating       <str> 'PG-13', 'TV-MA', 'TV-MA', 'TV-PG', 'TV-MA', 'TV-14', 'PG-13', 'TV-Y7', 'TV-MA', 'TV-Y7'
$ duration     <str> '90 min', '1 Season', '1 Season', '91 min', '125 min', '9 Seasons', '104 min', '87 min', '127 min', '76 min'
$ listed_in    <str> 'Documentaries', 'Crime TV Shows, International TV Shows, TV Action & Adventure', 'TV Dramas, TV Horror, TV Mysteries', 'Children & Family Movies, Comedies', 'Dramas, Independent Movies, International Movies', 'British TV Shows, Reality TV', 'Comedies, Dramas', 'Children & Family Movies, Comedies, Music & Musicals', 'Dramas, International Movies', 'Children & Family Movies, Music & Musicals'

In [144]:
df = df_raw.with_columns(
    pl.col("date_added").str.to_datetime(format="%m/%d/%Y")
)
df

shape: (8_790, 10)
┌─────────┬─────────┬───────────────────────┬─────────────────┬───┬──────────────┬────────┬───────────┬──────────────────────┐
│ show_id ┆ type    ┆ title                 ┆ director        ┆ … ┆ release_year ┆ rating ┆ duration  ┆ listed_in            │
│ ---     ┆ ---     ┆ ---                   ┆ ---             ┆   ┆ ---          ┆ ---    ┆ ---       ┆ ---                  │
│ str     ┆ str     ┆ str                   ┆ str             ┆   ┆ i64          ┆ str    ┆ str       ┆ str                  │
╞═════════╪═════════╪═══════════════════════╪═════════════════╪═══╪══════════════╪════════╪═══════════╪══════════════════════╡
│ s1      ┆ Movie   ┆ Dick Johnson Is Dead  ┆ Kirsten Johnson ┆ … ┆ 2020         ┆ PG-13  ┆ 90 min    ┆ Documentaries        │
│ s3      ┆ TV Show ┆ Ganglands             ┆ Julien Leclercq ┆ … ┆ 2021         ┆ TV-MA  ┆ 1 Season  ┆ Crime TV Shows,      │
│         ┆         ┆                       ┆                 ┆   ┆              ┆        ┆           ┆ International TV…    │
│ s6      ┆ TV Show ┆ Midnight Mass         ┆ Mike Flanagan   ┆ … ┆ 2021         ┆ TV-MA  ┆ 1 Season  ┆ TV Dramas, TV        │
│         ┆         ┆                       ┆                 ┆   ┆              ┆        ┆           ┆ Horror, TV Mysteri…  │
│ s14     ┆ Movie   ┆ Confessions of an     ┆ Bruno Garotti   ┆ … ┆ 2021         ┆ TV-PG  ┆ 91 min    ┆ Children & Family    │
│         ┆         ┆ Invisible Girl        ┆                 ┆   ┆              ┆        ┆           ┆ Movies, Comedi…      │
│ s8      ┆ Movie   ┆ Sankofa               ┆ Haile Gerima    ┆ … ┆ 1993         ┆ TV-MA  ┆ 125 min   ┆ Dramas, Independent  │
│         ┆         ┆                       ┆                 ┆   ┆              ┆        ┆           ┆ Movies, Inte…        │
│ …       ┆ …       ┆ …                     ┆ …               ┆ … ┆ …            ┆ …      ┆ …         ┆ …                    │
│ s8797   ┆ TV Show ┆ Yunus Emre            ┆ Not Given       ┆ … ┆ 2016         ┆ TV-PG  ┆ 2 Seasons ┆ International TV     │
│         ┆         ┆                       ┆                 ┆   ┆              ┆        ┆           ┆ Shows, TV Drama…     │
│ s8798   ┆ TV Show ┆ Zak Storm             ┆ Not Given       ┆ … ┆ 2016         ┆ TV-Y7  ┆ 3 Seasons ┆ Kids' TV             │
│ s8801   ┆ TV Show ┆ Zindagi Gulzar Hai    ┆ Not Given       ┆ … ┆ 2012         ┆ TV-PG  ┆ 1 Season  ┆ International TV     │
│         ┆         ┆                       ┆                 ┆   ┆              ┆        ┆           ┆ Shows, Romantic…     │
│ s8784   ┆ TV Show ┆ Yoko                  ┆ Not Given       ┆ … ┆ 2016         ┆ TV-Y   ┆ 1 Season  ┆ Kids' TV             │
│ s8786   ┆ TV Show ┆ YOM                   ┆ Not Given       ┆ … ┆ 2016         ┆ TV-Y7  ┆ 1 Season  ┆ Kids' TV             │
└─────────┴─────────┴───────────────────────┴─────────────────┴───┴──────────────┴────────┴───────────┴──────────────────────┘

In [145]:
df = df.cast({"type": pl.Enum(["TV Show", "Movie"]), "director": pl.Categorical, "rating": pl.Categorical,  "country": pl.Categorical,  "listed_in": pl.Categorical, "release_year": pl.UInt16})

In [146]:
df.dtypes

[String,
 Enum(categories=['TV Show', 'Movie']),
 String,
 Categorical(ordering='physical'),
 Categorical(ordering='physical'),
 Datetime(time_unit='us', time_zone=None),
 UInt16,
 Categorical(ordering='physical'),
 String,
 Categorical(ordering='physical')]

In [147]:
top_directors = df.group_by("director").agg(
    pl.count("show_id").alias("# of titles"),
).sort("# of titles", descending=True)

top_directors.head(10)

shape: (10, 2)
┌────────────────────────┬─────────────┐
│ director               ┆ # of titles │
│ ---                    ┆ ---         │
│ cat                    ┆ u32         │
╞════════════════════════╪═════════════╡
│ Not Given              ┆ 2588        │
│ Rajiv Chilaka          ┆ 20          │
│ Raúl Campos, Jan Suter ┆ 18          │
│ Alastair Fothergill    ┆ 18          │
│ Suhas Kadav            ┆ 16          │
│ Marcus Raboy           ┆ 16          │
│ Jay Karas              ┆ 14          │
│ Cathy Garcia-Molina    ┆ 13          │
│ Youssef Chahine        ┆ 12          │
│ Martin Scorsese        ┆ 12          │
└────────────────────────┴─────────────┘

In [150]:
non_unique_rows = df.filter(df["title"].is_duplicated())
non_unique_rows

shape: (0, 10)
┌─────────┬──────┬───────┬──────────┬───┬──────────────┬────────┬──────────┬───────────┐
│ show_id ┆ type ┆ title ┆ director ┆ … ┆ release_year ┆ rating ┆ duration ┆ listed_in │
│ ---     ┆ ---  ┆ ---   ┆ ---      ┆   ┆ ---          ┆ ---    ┆ ---      ┆ ---       │
│ str     ┆ enum ┆ str   ┆ cat      ┆   ┆ u16          ┆ cat    ┆ str      ┆ cat       │
╞═════════╪══════╪═══════╪══════════╪═══╪══════════════╪════════╪══════════╪═══════════╡
└─────────┴──────┴───────┴──────────┴───┴──────────────┴────────┴──────────┴───────────┘

In [149]:
df = df.unique(subset=["title"],keep="first")
df

shape: (8_787, 10)
┌─────────┬─────────┬─────────────────────┬─────────────────────┬───┬──────────────┬────────┬──────────┬─────────────────────┐
│ show_id ┆ type    ┆ title               ┆ director            ┆ … ┆ release_year ┆ rating ┆ duration ┆ listed_in           │
│ ---     ┆ ---     ┆ ---                 ┆ ---                 ┆   ┆ ---          ┆ ---    ┆ ---      ┆ ---                 │
│ str     ┆ enum    ┆ str                 ┆ cat                 ┆   ┆ u16          ┆ cat    ┆ str      ┆ cat                 │
╞═════════╪═════════╪═════════════════════╪═════════════════════╪═══╪══════════════╪════════╪══════════╪═════════════════════╡
│ s3863   ┆ Movie   ┆ Despite Everything  ┆ Gabriela Tagliavini ┆ … ┆ 2019         ┆ TV-MA  ┆ 79 min   ┆ Comedies,           │
│         ┆         ┆                     ┆                     ┆   ┆              ┆        ┆          ┆ International       │
│         ┆         ┆                     ┆                     ┆   ┆              ┆        ┆          ┆ Movies, …           │
│ s7731   ┆ Movie   ┆ Personal Shopper    ┆ Olivier Assayas     ┆ … ┆ 2016         ┆ R      ┆ 105 min  ┆ Dramas,             │
│         ┆         ┆                     ┆                     ┆   ┆              ┆        ┆          ┆ International       │
│         ┆         ┆                     ┆                     ┆   ┆              ┆        ┆          ┆ Movies, Th…         │
│ s1342   ┆ Movie   ┆ Malcolm & Marie     ┆ Sam Levinson        ┆ … ┆ 2021         ┆ R      ┆ 106 min  ┆ Dramas, Independent │
│         ┆         ┆                     ┆                     ┆   ┆              ┆        ┆          ┆ Movies              │
│ s4815   ┆ Movie   ┆ W. Kamau Bell:      ┆ Shannon Hartman     ┆ … ┆ 2018         ┆ TV-MA  ┆ 66 min   ┆ Stand-Up Comedy     │
│         ┆         ┆ Private School Ne…  ┆                     ┆   ┆              ┆        ┆          ┆                     │
│ s1201   ┆ TV Show ┆ Waffles + Mochi     ┆ Not Given           ┆ … ┆ 2021         ┆ TV-Y   ┆ 1 Season ┆ Kids' TV            │
│ …       ┆ …       ┆ …                   ┆ …                   ┆ … ┆ …            ┆ …      ┆ …        ┆ …                   │
│ s7245   ┆ Movie   ┆ Kurt & Courtney     ┆ Nick Broomfield     ┆ … ┆ 1998         ┆ R      ┆ 95 min   ┆ Documentaries,      │
│         ┆         ┆                     ┆                     ┆   ┆              ┆        ┆          ┆ Music & Musicals    │
│ s1578   ┆ Movie   ┆ Emicida: AmarElo -  ┆ Not Given           ┆ … ┆ 2020         ┆ TV-MA  ┆ 90 min   ┆ Documentaries,      │
│         ┆         ┆ It’s All For …      ┆                     ┆   ┆              ┆        ┆          ┆ International Mov…  │
│ s804    ┆ TV Show ┆ Ouran High School   ┆ Takuya Igarashi     ┆ … ┆ 2006         ┆ TV-PG  ┆ 1 Season ┆ Anime Series,       │
│         ┆         ┆ Host Club           ┆                     ┆   ┆              ┆        ┆          ┆ Romantic TV Shows,… │
│ s1854   ┆ Movie   ┆ Rooting for Roona   ┆ Pavitra Chalam,     ┆ … ┆ 2020         ┆ TV-PG  ┆ 42 min   ┆ Documentaries,      │
│         ┆         ┆                     ┆ Akshay Shankar      ┆   ┆              ┆        ┆          ┆ International Mov…  │
│ s2208   ┆ Movie   ┆ Animal Crackers     ┆ Tony Bancroft,      ┆ … ┆ 2020         ┆ TV-Y7  ┆ 106 min  ┆ Children & Family   │
│         ┆         ┆                     ┆ Scott Christian S…  ┆   ┆              ┆        ┆          ┆ Movies, Comedi…     │
└─────────┴─────────┴─────────────────────┴─────────────────────┴───┴──────────────┴────────┴──────────┴─────────────────────┘

In [151]:
total = df.height

In [152]:
movies_vs_series = df.group_by("type").agg(
    (pl.count("show_id").alias("# of titles") / total) * 100,
).sort("# of titles", descending=True)

movies_vs_series.head(10)

shape: (2, 2)
┌─────────┬─────────────┐
│ type    ┆ # of titles │
│ ---     ┆ ---         │
│ enum    ┆ f64         │
╞═════════╪═════════════╡
│ Movie   ┆ 69.693866   │
│ TV Show ┆ 30.306134   │
└─────────┴─────────────┘

## **References**

- https://pola-rs.github.io/polars/
- https://realpython.com/polars-python/